<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prabandham.abhinav.mymusicplayer"
    android:versionCode="5"
    android:versionName="1.4">

<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/musicicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.prabandham.abhinav.mymusicplayer.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.prabandham.abhinav.mymusicplayer.NotificationService" />

        <activity android:name=".SettingsFragment"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/PreferenceScreen"/>
    </application>

</manifest>